* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Condensed", sans-serif;
}

.resume__container--navbar {
    height: 90px;
    background-color: #f0e7de;
    border-bottom: 1px solid #95aea3;
}

.resume_heading {
  font-size: 60px;
}

.resume__container--bottom {
  height: 80px;
  background-color: #95aea3;
  display: block;
}

.resume__profile-image {
background-position: 50%;
border-radius: 50%;
width: 225px;
height: 225px;
border: solid black 2px;
}

.container a {
text-decoration: none;
color: rgb(0, 0, 0);
}

.container a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.resume__social-media-icons {
  height: 3vmax;
  width: 3vmax;
}

.contact-info {
  padding-bottom: 10px;
}

.contact-info__icons {
  height: 2vmax;
  width: 2vmax;
  padding-right: 1vw;
  position: relative;
  top: 1vh;
}

.resume__contact-info,
.social-media-links {
  font-style: normal;
  font-size: 1.8vmax;
  margin-bottom: 3vh;
}

.social-media-links {
  padding-top: 2vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.contact-info--header {
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 5vmax;
  font-weight: 300;
  margin-bottom: 3vh;
}

.resume-item__title {
  text-transform: uppercase;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 4vmax;
  font-weight: 150;
  margin-bottom: 0;
  color: rgba(34,55,45,1);
}

.resume-item__subheading,
.resume-item__content {
font-size: 1.8vmax;
font-weight: 100;
margin-bottom: 0;
}

.resume-item__content p {
margin: 0px;
}

.achievements__subheading {
font-size: 1.8vmax;
font-weight: bold;
margin-bottom: 0;
}

/* .resume-item:before {
content: "";
display: block;
width: 2vh;
height: 2vh;
border-radius: 50%;
background: rgb(63, 66, 113);
position: absolute;
margin-left: -3vw;
margin-top: 2.3vh;
} */

.time-range-block {
display: flex;
margin-bottom: 20px;
}

.time-range-block__col1 {
display: block;
width: 20%;
overflow: hidden;
/* background: blue; */
}

.time-range-block__col2 {
flex: 1;
/* background: yellow; */
}

.time-range-block__title {
margin: 0;
text-transform: capitalize;
}

.time-range-block__content * {
margin: 0;
color: black;
}

.time-range-block__time {
font-weight: bold;
}

.progress_bar {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 80%;
  margin-bottom: 1.5vh;
  padding-right: 0.5vw;
 /*  margin-right: 20px; */
}

.progress_bar:hover {
  transform: scale(1.01);
}

.progress_bar--container {
  width: 100%;
  height: 20px;
  background: #e6eae3;
  background: rgba(118, 142, 131, 0.1);
  overflow: hidden;
  border-radius: 8px;
}

.progress_bar--value {
  height: 1.66em;
  float: left;
  background: #4a6156;
  background: linear-gradient(90deg, rgba(74,97,86,1) 0%, rgba(34,55,45,1) 100%);
}

.progress_bar--value.value-100 {
  width: 100%;
  animation: fillbar100 2s ease-in-out;
}

.progress_bar--value.value-90 {
  width: 90%;
  animation: fillbar90 2s ease-in-out;
}

.progress_bar--value.value-80 {
  width: 80%;
  animation: fillbar80 2s ease-in-out;
}

.progress_bar--value.value-70 {
  width: 70%;
  animation: fillbar70 2s ease-in-out;
}

.progress_bar--value.value-50 {
  width: 50%;
  animation: fillbar50 2s ease-in-out;
}

@keyframes fillbar100 {
  0% {width: 0;}
  100% {width: 100%;}
}

@keyframes fillbar90 {
  0% {width: 0;}
  100% {width: 90%;}
}

@keyframes fillbar80 {
  0% {width: 0;}
  100% {width: 80%;}
}

@keyframes fillbar70 {
  0% {width: 0;}
  100% {width: 70%;}
}

@keyframes fillbar50 {
  0% {width: 0;}
  100% {width: 50%;}
}

@media only screen and (max-width: 800px) {
  .resume__background {
    background-color: #ffffff;
    margin: 2vw;
    border: 2px solid #22372d;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
  }

  .resume__container {
    display: block;
    background: linear-gradient(0deg, rgba(149,174,163,1) 0%, rgba(255,255,255,1) 100%);
  }
    
  .resume__container--left {
    margin: 2vw 2vw 0vw 2vw;
    /* background: chartreuse; */
  }
    
  .resume__container--right {
    margin: 0vw 2vw 2vw 2vw;
    /* background: fuchsia; */
  }

  .resume__profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-info--header {
    font-size: 60px;
    text-align: center;
  }

  .resume-item {
    padding: 0vw 0vw 0vw 2vw;
    margin: 2vw 0vw 0vw 0vw;
    border-left: none;  
  }

  .resume-item__content {
    font-size: inherit;
  }

  .resume-item__title {
    font-size: 40px;
  }

  .resume-item:before {
    display: none;
  }

  .progress_bar {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    align-items: center;
    margin-bottom: 3vh;
  }

  .progress_bar--container {
    height: 15px;
    background: #e6eae3;
    background: rgba(118, 142, 131, 0.1);
    border-radius: 8px;
  }

  .resume__social-media-icons {
    min-width: 40px;
    min-height: 40px;
    max-width: 75px;
    max-height: 75px;
    margin: 1.5vw;
  }

}

@media only screen and (min-width: 801px) {
  .resume__container {
    display: block;
    background: #ffffff;
    /*background: linear-gradient(180deg,#f0e7de 0%, rgb(255, 255, 255) 100%);*/
  }

  .resume__background {
    background-color: #ffffff;
    margin: 2vw;
    border: 2px solid #22372d;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .resume__container--left {
    padding: 4vw 0vw 0vw 5vw;
    width: 40%;
    flex-basis: auto;
    margin-right: 2vw;
  }
  
  .resume__container--right {
    width: 60%;
    flex-basis: auto;
    padding: 0vw 5vw 0vw 0vw;
    margin-left: 2vw;
  }

  .resume__profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .resume-item {
    /* border-bottom: 1px solid rgb(255, 255, 255);*/
    /* border-left: solid 2px #22372d; */
    padding: 0px;
    margin: 0px;
    position: relative;
    padding-top: 5vh;
    /* background-color: peachpuff; */
  }

}