* {
  margin: 0;
  padding: 0;
}

.resume__container {
  background: rgb(240,231,222);
  background: linear-gradient(180deg, rgba(240,231,222,1) 0%, rgba(219,196,173,1) 100%);
  font-family: "Open Sans Condensed", sans-serif;
  height: 100vh;
  width: 100vw;
  flex: 1;
}

.resume__background {
  background-color: #ffffff;
  border: 2px solid #22372d;
  margin: 2vw;
}

.resume__nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 3vw;
  background-color: #f0e7de;
  border-bottom: 1px solid #95aea3;
}

.resume__nav:hover {
  background-color: palevioletred;
  border-bottom: 1px solid #95aea3;
}

.resume__nav--item {
  display: inline-block;
  width: 12vw;
  height: 5vh;
  text-align: center;
  padding: 2.5vw 2vw 0vw;
  font-size: 2vw;
  color: black;
  font-size: 2.5vh;
}

.resume_heading {
  font-size: 60px;
}

.resume__container--left {
padding: 5vw 0vw 0vw 5vw;
/* width: 30vw; */
}

.container__right {
width: 60vw;
position: relative;
padding-right: 5vw;
}

.resume__profile-image {
background-position: 50%;
border-radius: 50%;
width: 15vw;
height: 15vh;
border: solid black 2px;
}

.container a {
text-decoration: none;
color: rgb(0, 0, 0);
}

.container a:hover {
text-decoration: underline;
color: rgba(0, 0, 0, 0.8);
cursor: pointer;
}

.social-media-icons {
height: 3vmax;
width: 3vmax;
}

.resume__contact-info,
.social-media-links {
font-style: normal;
font-size: 1.8vmax;
margin-bottom: 3vh;
}

.social-media-links p {
margin-top: 0px;
}

.contact-info--header {
font-size: 5vmax;
text-transform: uppercase;
overflow: hidden;
}

.contact-info__grid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 2vw;
text-align: justify;
}

.contact-info__grid dd {
margin: 0;
padding: 0.3vh 0vh;
}

.contact-info__inline dd {
margin: 0;
padding: 0.3vh 0vh;
}

.skill_bar {
display: flex;
flex-flow: column wrap;
}

.skill_level .full,
.skill_level .not_full {
display: inline-block;
height: 1.4vmax;
width: 1.4vmax;
margin-right: 2px;
border: 1px solid black;
border-radius: 50%;
}

.skill_level .full {
background: black;
}

.skill_level .not_full {
}

.resume-item ul {
list-style-type: none;
}

.resume-item__title {
text-transform: uppercase;
font-family: "Open Sans Condensed", sans-serif;
font-size: 4vmax;
font-weight: 150;
margin-bottom: 0;
/* background: lime; */
}

.resume-item__subheading,
.resume-item__content {
font-size: 1.8vmax;
font-weight: 100;
margin-bottom: 0;
}

.resume-item__content p {
margin: 0px;
}

.achievements__subheading {
font-size: 1.8vmax;
font-weight: bold;
margin-bottom: 0;
}

.resume-item {
/* border-bottom: 1px solid rgb(255, 255, 255);*/
border-left: solid 2px #22372d;
padding: 0px;
margin: 0px;
position: relative;
/* background: fuchsia; */
padding-left: 2vw;
}

.resume-item:before {
content: "";
display: block;
width: 2vh;
height: 2vh;
border-radius: 50%;
background: rgb(63, 66, 113);
position: absolute;
margin-left: -3vw;
margin-top: 2.3vh;
}

.time-range-block {
display: flex;
margin-bottom: 20px;
}

.time-range-block__col1 {
display: block;
width: 20%;
overflow: hidden;
/* background: blue; */
}

.time-range-block__col2 {
flex: 1;
/* background: yellow; */
}

.time-range-block__title {
margin: 0;
text-transform: capitalize;
}

.time-range-block__content * {
margin: 0;
color: black;
}

.time-range-block__time {
font-weight: bold;
}

.display-skills-block {
display: flex;
flex-flow: column wrap;
}

.skills,
.achievements__display {
display: flex;
flex-wrap: wrap;
}

.skill_bar,
.achievements__display--flex {
flex-basis: 45%;
display: inline;
/* margin-right: 20px; */
}

.skill_name {
  background: yellow;
}

.skill_level {
  float: right;
  margin-right: 20px;
}

@media only screen and (max-width: 800px) {
  .resume__background {
    background-color: #f0e7de;
    padding: 0.7vh;
  }

  .resume__container {
    background-color: rgb(255, 255, 255);
    font-family: "Open Sans Condensed", sans-serif;
    margin: 2vw;
    /* position: absolute; */
    border: 2px solid #22372d;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-around;
  }
    
  .resume__container--left {
    width: 90vw;
  }
    
  .container__right {
    width: 90vw;
  }

  .resume__profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-info--header {
    font-size: 60px;
    text-align: center;
  }

  .resume-item {
    padding: 0px;
    margin: 0px;
    border-left: none;
    background: fuchsia;
    padding-left: 2vw;
    }

  .resume-item:before {
    display: none;
  }

}