@media only screen and (max-width: 800px) {
    .burger-menu,
    .burger-menu.open {
      display: inline-block;
      cursor: pointer;
      position: fixed;
      left: 20px;
      top: 20px;
      z-index: 9999;
      background: #fff;
      padding: 10px;
      border-radius: 25px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    }
    
    .burger-menu .bar1,
    .bar2,
    .bar3 {
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 4px 0;
      transition: 0.4s;
    }
    
    .burger-menu.open .bar1 {
      -webkit-transform: rotate(-45deg) translate(-4px, 4px);
      transform: rotate(-45deg) translate(-4px, 4px);
    }
    
    .burger-menu.open .bar2 {
      opacity: 0;
    }
    
    .burger-menu.open .bar3 {
      -webkit-transform: rotate(45deg) translate(-6px, -6px);
      transform: rotate(45deg) translate(-6px, -6px);
    }

    .navbar {
        display: none;
    }
    
    .navbar--mobile {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-bottom: 1px solid #95aea3;
        background-color: #f0e7de;
    }

    .navbar--mobile li {
        list-style: none;
        text-align: right;
        text-transform: uppercase;
        font-size: 25px;
        padding: 15px 60px;
        border-bottom: 1px solid #95aea3;
    }

    .navbar--mobile li a {
        text-decoration: none;
        color: black;
    }

    .navbar--mobile li a:hover {
        border-bottom: 2px solid #4a6156;
        transition: 0.2s linear;
    }
}

@media only screen and (min-width: 801px) {
    .navbar--mobile {
        display: none;
    }

    .navbar {
        background-color: rgba(219, 196, 173, 0.2);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        border-bottom: 1px solid #95aea3;
    }

    .navbar li {
        list-style: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 25px;
        padding: 15px 60px;
        background-color: rgba(240, 231, 222, 0.2);
    }
    
    .navbar li:hover {
        background-color: rgba(219, 196, 173, 0.5);
    }
    
    .navbar li a {
        text-decoration: none;
        color: black;
    }
    
    .navbar li a:hover {
        border-bottom: 2px solid #4a6156;
        transition: 0.2s linear;
    }
}

