.home_background {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}

.home_heading {
    font-size: 10vh;
    text-align: center;
    color: #4a6156;
}

.home_navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 3vw;
    border-bottom: 1px solid #95aea3;
}

.home_navbar li {
    list-style: none;
    display: inline-block;
    width: 10vw;
    height: 8vh;
    text-align: center;
    padding: 2vw 2vw 0vw 0vw;
    font-size: 3vh;
    background-color: #f0e7de;
    border-bottom: 2px solid #f0e7de;
}

.home_navbar--push {
    margin-left: auto;
}

.home_navbar li:hover {
    background-color: #dbc4ad;
}

.home_navbar li a {
    text-decoration: none;
    color: black;
}

.home_navbar li a:hover {
    border-bottom: 2px solid #4a6156;
    transition: 0.2s linear;
}
