* {
    margin: 0;
    padding: 0;
}

.contact__container {
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}

.contact__container h2 {
    font-weight: 200;
}

.contact__container--top {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #f0e7de;
    border-bottom: 1px solid #95aea3;
}

.navbar--active {
    border-bottom: 2px solid #4a6156;
}
  
.contact__container--center {
    display: block;
    background: linear-gradient(180deg,#f0e7de 0%, rgb(255, 255, 255) 100%);
    padding: 15vw 10vw 0vh 10vw;
}

.contact__container--form {
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blueviolet; */
}

.contact__container--form label {
    margin-top: 3vh;
    margin-left: 8vw;
}

.contact__container--formInput {
    align-self: center;
    width: 80%;
    padding: 12px 20px;
    margin: 2vh 0.5vw;
    box-sizing: border-box;
    border-radius: 4px;
}

.contact__container--formInput-large {
    align-self: center;
    width: 80%;
    padding: 12px 20px 100px;
    margin: 1vh 0.5vw;
    box-sizing: border-box;
    border-radius: 4px;
}

.contact__container--submit {
    align-self: flex-end;
    width: 10%;
    border-radius: 4px;
    padding: 1vw;
    margin: 1vh;
    margin-right: 10%;
    background-color: rgb(74, 97, 86);
    color: rgb(255,255,255);
}

.contact__container--submit:hover {
    cursor: pointer;
    background-color: rgba(74, 97, 86, 0.5);
    color: rgb(0, 0, 0);
    transform: translate(0, 0.375em);
}

.contact__container--bottom {
    height: 80px;
    background-color: #95aea3;
    display: block;
}

.contact__container--flexparent {
    padding: 2vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.contact__social-media-links {
/*     width: 75px;
    height: 75px; */
    margin: 3vw;
    flex-basis: auto;
    background: transparent;
    /* background-color:#a9b6af; */
}

@media only screen and (min-width: 801px) {
    .contact_navbar--mobile-icon {
        display: none;
    }
}


@media only screen and (max-width: 800px) {
    .contact__container {
        background-color: rgb(93, 148, 110);
        height: 100vh;
        width: 100vw;
    }

    .contact__container--center {
        background-color: #c72044;
        color: blue;
    }

    .contact__container--bottom {
        color: red;
    }

    .contact__container--submit {
        align-self: flex-end;
        width: 10%;
        border-radius: 4px;
        padding: 0;
        margin-right: 10%;
    }

    .contact__container--form label {
        margin-top: 1vh;
        margin-left: 8vw;
    }

    
.contact__social-media-links {
        width: 75px;
        height: 75px;
        margin: 3vw;
        flex-basis: auto;
        background: transparent;
        /* background-color:#a9b6af; */
    }

    .contact_navbar--mobile-icon {
        display: inline-block;
    }
    
}